<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="user">
  <ion-row>
    <ion-col class="content-col">
      <ion-thumbnail class="user-image">
        <img src="{{user.photo}}">
      </ion-thumbnail>
      <ion-label class="custom-file-upload" routerLink="./edit-account">
        <ion-icon margin-right name="create-outline" ></ion-icon> Edit profile
      </ion-label>
      <ion-text color="dark">
        <h2 class="user-name">{{user.firstName}} {{user.lastName}}</h2>
      </ion-text>

      <ion-list>
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input color="primary" readonly="true">{{user.username}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Phone</ion-label>
          <ion-input color="primary" readonly="true">{{user.phone}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input color="primary" readonly="true">{{user.email}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Describiton</ion-label>
          <ion-input color="primary" readonly="true">{{user.describtion}}</ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>

