/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-button {
  font-size: 1rem !important;
}

ion-input {
  font-size: 1rem !important;
}

ion-select {
  font-size: 1rem;
}

h2 {
  font-size: 2rem !important;
}

.alert-title {
  font-size: 1.5rem !important;
}

.alert-radio-label {
  font-size: 1rem !important;
}

.spinner {
  width: 10rem;
  height: 10rem;
  box-shadow: none;
}

.custom-loading {
  --background: none;

  .loading-wrapper {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
}

.row--center {
  justify-content: center;
}

.img--theme-circle {
  padding: 0.5rem;
  width: 12rem;
  margin-top: 2rem;
  height: 12rem;
  border-radius: 100%;
  background: white;
  border: 0.15rem solid grey;
}

.item__label {
  font-size: 1rem !important;
}

.label--theme-upload {
  border: 0.06rem solid #ccc;
  display: inline-block;
  padding: 0.4rem 0.75rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  color: var(--ion-color-primary);
  margin: auto;
  max-width: 12.5rem;
}
